<h2>Reactive: Basicos</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()" [formGroup]="miFormulario">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre del producto">
                    <span *ngIf="campoEsValido('nombre')" class="form-text text-danger">Debe de ser de 3 letras</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input formControlName="precio" type="number" class="form-control"
                        placeholder="Precio del producto">
                    <span *ngIf="campoEsValido('precio')" class="form-text text-danger">El precio debe ser mayor a
                        0</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                    <input formControlName="existencias" type="number" class="form-control"
                        placeholder="Cantidad disponible producto">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>